.logobar{
    height:80px;
}

.imagecontainer{
    text-align:center;
    margin-top:10px;
}

.logobar .imagecontainer img {
    height:60px;
    width:60px;
}

.navbar-container{
    text-align:center;
    margin:0 auto;
    display:table;

}

.navbutton{
    margin-left:15px;
    margin-right:15px;
    width:200px;
}

.nav li.navbutton a:hover{
    background-color: lightblue;
    opacity: .7;
    -webkit-transition: background 1s;
}

.navbar-hamburger {
    display: none;
    width: 100px;
    border: 1px solid lightblue;
}


.btn:hover{
    background-color: lightblue;
    opacity: .7;
    -webkit-transition: background 1s;
}

.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: lightblue;
}


.promo {
    height: 470px;
    background-image:
            linear-gradient(rgba(255,255,255, 1), rgba(255,255,255,0)),
            url(../images/backgroundrobots.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.carousel{
    position:relative;
    top:40px;

}
.carousel-inner{
    margin:auto;
    width: 50%;
}


.carousel-inner .item{
    width:99%;

    margin:0 auto;
    margin-top:20px;
    -webkit-box-shadow: 9px -9px 18px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px -9px 18px -8px rgba(0,0,0,0.75);
    box-shadow: 9px -9px 18px -8px rgba(0,0,0,0.75);
}



.carousel-control{
    opacity: 0;
    display:none;
}

.carousel-control:hover, .carousel-control:focus{
    opacity:0;

}

.carousel-fade .carousel-inner .item {
    transition-property: opacity;
}

.item,
.active.left,
.active.right {
    opacity: 0;
}

.active,
.next.left,
.prev.right {
    opacity: 1;
}

.next,
.prev,
.active.left,
.active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}


.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 90%;
}



@media screen and (max-width:700px) {
    .nav-pills .navbutton {
        display: none;
    }

    .navbar-hamburger {
        display: block;
    }

    .logobar .imagecontainer img {
        height: 30px;
        width: 30px;
    }

    .logobar {
        height: 50px;
    }

    .carousel-inner {
        width: 100%;
    }
}